/* Body Styling */
body {
    font-family: Arial, Helvetica, sans-serif;
}

#scrollToTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: white;
    border-color: E67324;
    color: E67324;
    border-radius: 50%;
    text-align: center;
    line-height: 29px;
    transition: background-color 0.3s, border-color 0.3s;
    padding: 10px;
    box-shadow: none;
    display: none;
    z-index: 1000;
}

#scrollToTopBtn:hover {
    background-color: rgba(255, 255, 255, 0.151);
    color: #E67324;
    border-color: #E67324;
    box-shadow: none;
}

/* Navbar Styling */
.navbar {
    position: fixed;
    font-family: "Noto Sans JP", sans-serif;
    width: 100%;
    height: auto;
    background-color: black !important;
    margin-top: 0;
    z-index: 1000; 
    top: 0; 
}

.navbar-nav {
    margin-right: 5%;
    gap: 25px;
}

.navbar-brand {
    margin-left: 5%;
}

.nav-link {
    color: #fff;
    font-size: 18px;
    padding: 10px 20px;
}

.nav-link:hover {
    color: black;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 30px;
    padding: 10px 20px;
}

.nav-link.active {
    color: black !important;
}

.navbar-collapse {
    background-color: black !important;
}

/* Image Background Section */
.image-background {
    background-image: url('https://images6.alphacoders.com/947/947671.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 90vh;
    position: relative;
    margin-top: 60px; 
    z-index: 0; 
}


.overlay {
    position: absolute;
    top: 50%;
    left: 50%; 
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%); 
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1; 
}

.text-content {
    font-size: 3em;
    text-align: left; 
    margin-left: 4%;
    max-width: 50%; 
    color: white;
    margin-top: 17%; 
}

.display-4 {
    font-family: "Oswald", serif;
    font-size: 90px;
    font-weight: bold;
    color: white;
}

.lead {
    font-family: Noto Sans;
    font-size: 1.5rem;
    font-weight: 300;
    color: color;
}

.custom-btn {
    background-color: transparent;
    border: 2px solid white;
    color: white;
    border-radius: 15px;
    padding: 10px 25px;
    font-weight: bold;
}

.about-me {
    padding-top: 75px;
}

.about-me img {
    object-fit: fill;
    width: 100%;
    height: 550px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.custom-btn:hover {
    background-color: white;
    color: black;
    transition: 0.3s;
}

.text-center {
    font-family: Oswald;
    padding-top: 70px;
    font-size: 40px;
    margin-bottom: 20px;
}

.description {
    font-family: Noto Sans;
    font-size: 20px;
    text-align: center;
}

.card {
    width: 120%;
    height: 500px;
    margin: 20px auto 20px;
    background-color: white;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card img {
    height: 350px;
    margin-top: -70px;
    display: block;
    margin-bottom: 30px ;
}

.card-title {
    font-family: Noto Sans;
    font-size: 25px;
    color: black;
    margin-bottom: 10px;
    font-weight: bold;
}

.card-text {
    font-family: Noto Sans;
    font-size: 15px;
    color: black;
}

.row.justify-content-center {
    gap: 60px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.text-center {
    margin-top: -5%;
    margin-bottom: 5%;
}

@media (max-width: 1200px) {
    .card {
        width: 120%;
        height: 520px;
        margin: 5px auto;
    }
}

@media (max-width: 992px) {
    .navbar-collapse {
        background-color: maroon;
    }

    .navbar-nav {
        flex-direction: column;
        text-align: right;
    }

    .navbar-nav .nav-link {
        margin-bottom: 5px;
    }

    .navbar-toggler {
        margin-right: 3%;
    }

    .navbar-toggler:focus,
    .navbar-toggler:active {
        outline: none;
        box-shadow: none;
    }

    .card {
        width: 150%;
        height: 550px;
        margin: 10px auto;
    }
}

@media (max-width: 767px) {
    .navbar-collapse {
        background-color: maroon;
    }

    .navbar-nav {
        flex-direction: column;
        text-align: right;
    }

    .navbar-nav .nav-link {
        margin-bottom: 5px;
    }

    .navbar-toggler {
        margin-right: 3%;
    }

    .navbar-toggler:focus,
    .navbar-toggler:active {
        outline: none;
        box-shadow: none;
    }

    .image-background {
        background-image: url('https://wallpapercave.com/wp/wp1818242.png');
        background-size: cover;
        background-position: center;
        height: 50vh;
        padding-top: 0; 
    }

    .text-content {
        font-size: 2.5em; 
        margin-top: 20%;  
    }

    .card {
        width: 100%;
        height: 500px;
        margin: 10px auto;
    }

    .display-4 {
        font-size: 40px;
    }
    
    .lead {
        font-size: 1rem;
    }
    
    .custom-btn {
        font-size: 10px;
    }

    .about-me {
        padding-top: 1%;
    }
}



